<!-- If there is indentation in breaks 11ty markdown -->
<details>
<summary>Font picker</summary>
<stack-layout space="s-1">
<cluster-layout space="s-1" justify="space-between">
<label class="field" for="font">
<span class="field-label">Font</span>
<select id="font" name="font"></select>
</label>

<label class="field" for="weight">
<span class="field-label">Font weight</span>
<input type="range" min="400" max="700" id="weight" name="weight" />
</label>
</cluster-layout>

<label class="field">
<textarea id="specimen"></textarea>
</label>
</stack-layout>
</details>
