<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content="Eleventy">
    <title>Open Lab fonts</title>
    <link rel="stylesheet" href="{{ '/inter/inter.css' | url }}" />
    <link rel="stylesheet" href="{{ '/rubik/rubik.css' | url }}" />
    <link rel="stylesheet" href="{{ '/playfair/playfair.css' | url }}" />
    <link rel="stylesheet" href="https://alembic.openlab.dev/everything.css" />
    <style>
      :root {
        --measure: 40em;
      }
      body {
        font-family: var(--font, 'Inter var', Inter, system-ui);
        min-height: 100vh;
        min-height: 100dvh;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        font-size: 18px;
      }
      h1 {
        font-size: 2em;
        font-weight: bold;
      }
      header {
        padding-inline: 0.5em;
      }
      main {
        flex: 1;
        padding-inline: 0.5em;
      }
      .flow > * + * {
        margin-block-start: 1em;
      }
      footer {
        text-align: center;
        font-style: italic;
        opacity: 0.8;
        padding: 1em;
      }
      code {
        font-family: 'SF Mono', ui-monospace, monospace;
        padding: 0 0.2em;
        border: 2px solid #ccc;
        border-radius: 4px;
        background-color: #f1f1f1;
        display: inline-block;
      }
      pre {
        max-width: 100%;
        width: 100%;
        overflow-x: auto;
        font-size: 16px;
      }
      pre > code {
        width: 100%;
      }
      blockquote {
        border-left: 5px solid #aaa;
        padding: 1em;
        background: #eee;
      }
      h1 {
        font-size: 2em;
      }
      h2 {
        font-size: 1.5em;
      }
      h3, h4, h5, h6 {
        font-size: 1.2em;
      }
    </style>
  </head>
  <body>
    <header>
      <center-layout> <h1>Open Lab fonts</h1> </center-layout>
    </header>
    <main>
      <center-layout>
        <article class="flow">
          {{ content | safe }}
        </article>
      </center-layout>
    </main>
    <footer>
      <center-layout>
        <p>
          Made by
          <a href="https://openlab.ncl.ac.uk">Open Lab</a>
          and
          <a href="https://github.com/digitalinteraction/fonts.openlab.dev"
            >Open Source</a
          >
          — font:
          <select id="fontPicker" name="font">
            <option selected value="Inter var">Inter</option>
            <option value="Rubik var">Rubik</option>
            <option value="Playfair Display var">Playfair</option>
          </select>
        </p>
      </center-layout>
    </footer>

    <script
      type="module"
      src="https://alembic.openlab.dev/everything.js"
      defer
    ></script>
    <script>
      document.getElementById('fontPicker').oninput = e => {
        document.documentElement.style.setProperty('--font', `'${e.target.value}'`)
      }
    </script>
  </body>
</html>
