<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content="Eleventy" />
    <title>Open Lab fonts</title>
    <link
      rel="stylesheet"
      href="{{ '/inter/inter.css' | url }}"
      data-font="Inter var"
      data-weights="100 900"
    />
    <link
      rel="stylesheet"
      href="{{ '/rubik/rubik.css' | url }}"
      data-font="Rubik var"
      data-weights="300 900"
    />
    <link
      rel="stylesheet"
      href="{{ '/lora/lora.css' | url }}"
      data-font="Lora"
      data-weights="400 700"
    />
    <link
      rel="stylesheet"
      href="{{ '/playfair/playfair.css' | url }}"
      data-font="Playfair Display var"
      data-weights="400 900"
    />
    <link
      rel="stylesheet"
      href="{{ '/open-sans/open-sans.css' | url }}"
      data-font="Open Sans var"
      data-weights="300 800"
    />
    <link
      rel="stylesheet"
      href="{{ '/montserrat/montserrat.css' | url }}"
      data-font="Montserrat var"
      data-weights="100 900"
    />
    <link rel="stylesheet" href="https://alembic.openlab.dev/labcoat.css" />
    <style>
      :root {
        --measure: 40em;
        --fillable: var(--color);
      }
      body {
        font-family: 'Inter var', Inter, system-ui, sans-serif;
      }
      label:has(#font) {
        --measure: 20ch;
      }
      label:has(#weight) {
        --measure: 30ch;
      }
      h3 {
        --flow: 2em;
      }
      label:has(#specimen) {
        max-width: 100%;
        font-size: 1.2em;
      }
      #specimen {
        padding: var(--s2) var(--s0);
        font-family: var(--font, var(--fallback));
        font-weight: var(--weight, 400);
        border-color: var(--border);
      }
    </style>
  </head>
  <body>
    <main>
      <center-layout>
        <article class="flow">
          <h1>Open Lab fonts</h1>
          <br />
          {{ content | safe }}
        </article>
      </center-layout>
    </main>
    <footer>
      <center-layout>
        <p>
          Made by
          <a href="https://openlab.ncl.ac.uk">Open Lab</a>
          and
          <a href="https://github.com/digitalinteraction/fonts.openlab.dev"
            >Open Source</a
          >
        </p>
      </center-layout>
    </footer>

    <script>
      const specimen = document.getElementById('specimen')

      function setFont(font) {
        specimen.style.setProperty('--font', `'${font}'`)

        const style = document.querySelector(`[data-font="${font}"]`)
        if (style.dataset.weights) {
          const [min, max] = style.dataset.weights.split(/\s+/)
          document.getElementById('weight').min = min
          document.getElementById('weight').max = max
        }

        document.getElementById('weight').value = 400
        setWeight(400)
      }
      function setWeight(value) {
        specimen.style.setProperty('--weight', value)
        document.getElementById('weight').previousElementSibling.textContent =
          `Weight (${value})`
      }

      for (const elem of document.querySelectorAll('link[data-font]')) {
        const option = document
          .getElementById('font')
          .appendChild(document.createElement('option'))
        option.value = elem.dataset.font
        option.innerText = elem.dataset.font
        option.selected = elem.dataset.font === 'Inter var'
      }

      document.getElementById('font').oninput = (e) => {
        setFont(e.target.value)
      }

      document.getElementById('weight').oninput = (e) => {
        setWeight(e.target.value)
      }

      document.getElementById('font').value = 'Inter var'
      setFont('Inter var')

      const quotes = [
        `Design is not just what it looks like and feels like. Design is how it works.`, // Steve Jobs
        `A common mistake that people make when trying to design something completely foolproof is to underestimate the ingenuity of complete fools.`, // Douglas Adams
        `Perfection is achieved, not when there is nothing more to add, but when there is nothing left to take away.`, // Antoine de Saint-Exupér
        `Good design is as little as possible. Less, but better, because it concentrates on the essential aspects, and the products are not burdened with non-essentials. Back to purity, back to simplicity.`, //  Dieter Rams
      ]

      specimen.value = quotes[Math.floor(Math.random() * quotes.length)]
      specimen.style.height = specimen.scrollHeight + 'px'
    </script>

    <!-- @openlab/alembic inject-js -->
  </body>
</html>
