<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content="Eleventy" />
    <title>Open Lab fonts</title>
    <link
      rel="stylesheet"
      href="{{ '/inter/inter.css' | url }}"
      data-font="Inter var"
    />
    <link
      rel="stylesheet"
      href="{{ '/rubik/rubik.css' | url }}"
      data-font="Rubik"
    />
    <link
      rel="stylesheet"
      href="{{ '/playfair/playfair.css' | url }}"
      data-font="Playfair Display var"
    />
    <link
      rel="stylesheet"
      href="{{ '/open-sans/open-sans.css' | url }}"
      data-font="Open Sans var"
    />
    <link
      rel="stylesheet"
      href="{{ '/montserrat/montserrat.css' | url }}"
      data-font="Montserrat"
    />
    <!-- @openlab/alembic inject-css -->
    <style>
      :root {
        --measure: 40em;
        --fillable: var(--color);
      }
      body {
        --fallback: 'Inter var', Inter, system-ui, sans-serif;
        font-family: var(--font, var(--fallback));
      }
      .field {
        display: inline-flex;
        align-items: center;
        gap: var(--s0);
      }
      .field > * {
        flex-shrink: 0;
      }
      #fontPicker {
        color: inherit;
      }
      /* TODO: migrate back to labcoat */
      code {
        border: 2px solid var(--border);
      }
      /* TODO: migrate back to labcoat */
      ul,
      ol {
        padding-inline-start: 1em;
      }
      h3 {
        --flow: 2em;
      }
      pre {
        font-size: 1em;
      }
    </style>
  </head>
  <body>
    <main>
      <center-layout>
        <article class="flow">
          <h1>Open Lab fonts</h1>
          <br />
          {{ content | safe }}
        </article>
      </center-layout>
    </main>
    <footer>
      <center-layout>
        <p>
          Made by
          <a href="https://openlab.ncl.ac.uk">Open Lab</a>
          and
          <a href="https://github.com/digitalinteraction/fonts.openlab.dev"
            >Open Source</a
          >
        </p>
      </center-layout>
    </footer>

    <script>
      for (const elem of document.querySelectorAll('link[data-font]')) {
        const option = document
          .getElementById('fontPicker')
          .appendChild(document.createElement('option'))
        option.value = elem.dataset.font
        option.innerText = elem.dataset.font
        option.selected = elem.dataset.font === 'Inter var'
      }
      document.getElementById('fontPicker').oninput = (e) => {
        document.documentElement.style.setProperty(
          '--font',
          `'${e.target.value}'`
        )
      }
    </script>

    <!-- @openlab/alembic inject-js -->
  </body>
</html>
